@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    overflow-x: hidden;
}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#766DF4 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#766DF4);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
  }
  
  @keyframes s3{ 
    100%{transform: rotate(1turn)}
  }

  
.lable-style {
  @apply text-[14px] text-richblack-5;
  }
  .form-style {
  @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
  }
  .section_heading {
    @apply text-2xl font-bold text-richblack-5 lg:text-4xl;
  }
  .blackButton {
    @apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[8px] font-semibold text-richblack-5;
  }
  .yellowButton {
    @apply cursor-pointer rounded-md bg-yellow-50 px-[20px] py-[8px] font-semibold text-richblack-900;
  }